{% extends "DatasusSisvsExpoEpiAdministrativoBundle::base.html.twig" %}

{% block body %}
<div class="box">
    <strong class="title">
        Apresentações Cadastradas
    </strong>

    <div class="formulario">

        <form id="" action="{{ path('datasus_sisvs_expoepi_administrativo_modalidade_save-bind-apresentacao') }}"
              method="post">
            <input type="hidden" value="{{ entity.getCoSeqModalidade }}" name="coSeqModalidade"/>
            <table class="table table-bordered ui-widget-content" id="apresentacao">
                <thead>
                <tr>
                    <th colspan="4" align="center">Apresentações Cadastradas</th>
                </tr>
                <tr>
                    <th>Selecione</th>
                    <th>Apresentação</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in arrApresentacao |sort%}
                    <tr>
                        {% if entity.getCoSeqModalidade in  value.arrayCoModalidade | keys %}
                            <td>
                                <input type="checkbox" checked="checked" value="{{ value.coSeqApresentacao }}"
                                       name="checkApresentacao[]"/>
                            </td>
                        {% else %}
                            <td>
                                <input type="checkbox" value="{{ value.coSeqApresentacao }}"
                                       name="checkApresentacao[]"/>
                            </td>
                        {% endif %}
                        <td>{{ value.noApresentacao }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="botao">
                <input type="submit" value="Vincular" class="buttonAzul margim"/>
                <a href="{{ path('datasus_sisvs_expoepi_administrativo_modalidade') ~ '?coEvento=' ~ entity.getCoEvento.getCoSeqEvento }}"
                   class="buttonAzul">
                    Voltar
                </a>
            </div>

        </form>
    </div>
    {% endblock %}