{% extends "DatasusSisvsExpoEpiAdministrativoBundle::base.html.twig" %}

{% block body %}
<div class="box">
    <strong class="title">
      Tipos da Modalidade Cadastrados
    </strong>

    <div class="formulario">

        <form id="" action="{{ path('datasus_sisvs_expoepi_administrativo_modalidade_save-bind-tipo-modalidade') }}" method="post">
            <input type="hidden" value="{{ entity.getCoSeqModalidade }}" name="coSeqModalidade"/>
            <table class="table table-bordered ui-widget-content">
                <thead>
                <tr>
                    <th colspan="4" align="center">Critérios</th>
                </tr>
                <tr>
                    <th>Selecione</th>
                    <th>Tipo da Modalidade</th>
                </tr>
                </thead>
                <tbody>

                {% for key, value in arrTipoModalidade |sort %}
                    <tr>
                        <td>
                            <input type="radio" value="{{ value.coSeqTipoModalidade }}" name="coTipoModalidade"
                                {% if entity.coTipoModalidade.coSeqTipoModalidade is defined and entity.coTipoModalidade.coSeqTipoModalidade == value.coSeqTipoModalidade%}
                                    checked="checked"
                                {% endif %}
                            />
                        </td>
                        <td>
                            {{ value.noTipoModalidade }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="botao">
                <input type="submit" value="Vincular" class="buttonAzul margim"/>
                <a href="{{ path('datasus_sisvs_expoepi_administrativo_modalidade') ~ '?coEvento=' ~ entity.getCoEvento.getCoSeqEvento }}" class="buttonAzul">
                    Voltar
                </a>
            </div>

        </form>

    </div>

    {% endblock %}