<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}SIEPI{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        @page {
            size: A4 portrait;
            @bottom-left {
                content: "{{ "now"|date("d/m/Y H:i") }}";
                font-size: 8pt;
            }
            @bottom-center {
                content: "Página " counter(page) " de " counter(pages);
                font-size: 8pt;
            }
        }
    </style>

</head>
<body>
<div class="box span9">
    <div class="box_header">
        {% block header %}
            {% set header =  entity.getCoTema.getCoArea.getCoModalidade.getCoEvento.getAnEvento | headerPdf %}
            <div class="span9">
                <div class="logo">
                    <img src="{{ header['noLogotipo'] }}" class="img-circle " width="120" height="60"/>
                </div>
                <div class="titulo_sistema">
                    <h1 style="text-align:left !important;">{{ header['noEvento'] }} <span style="font-weight: normal !important;text-align:left !important;">- MOSTRA NACIONAL DE EXPERIÊNCIAS BEM-SUCEDIDAS EM EPIDEMIOLOGIA,
            PREVENÇÃO E CONTROLE DE DOENÇAS <br/>MINISTÉRIO DA SAÚDE / SECRETARIA DE VIGILÂNCIA EM SAÚDE</span></h1>
                </div>
                <hr class="separetor"/>
            </div>
        {% endblock %}
    </div>
    <div class="formulario form-horizontal">
        <div class="box" style="font-size:11px;line-height:14px;">
            <div class="formulario">
                <fieldset>
                    <div class="espacamento-bottom20 control-group">
                        <input type="hidden" name="coSeqModalidade"
                               value="{{ entity.getCoTema.getCoArea.getCoModalidade.getCoSeqModalidade }}"/>
                        <h4 class="pull-left">{{ entity.getCoTema.getCoArea.getCoModalidade.getCoEvento.getNoEvento }} </h4>
                        <h4 class="pull-left"> - {{ entity.getCoTema.getCoArea.getCoModalidade.getNoModalidade }}</h4>
                        <h4 class="pull-left">
                            {% if(entity.getCoTema.getCoArea.getCoModalidade.getCoTipoModalidade) %}
                                - {{ entity.getCoTema.getCoArea.getCoModalidade.getCoTipoModalidade.getNoTipoModalidade }}
                            {% endif %}
                        </h4>
                        <h4 class="alingInsc pull-left">Nº
                            Inscrição: {{ entity.getNuInscricao }}
                        </h4>
                    </div>
                    <div class="control-group">
                        <div class="pull-left">
                            <h3>
                                {{ entity.getCoTema.getCoArea.getCoModalidade.getCoFormularioDeInscricao.getDsTitulo | raw('html') }}
                            </h3>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="formulario" style="margin-top: -12px;">
                <fieldset>
                    <legend>Identificação do Autor</legend>

                    <div class="control-group span9">
                        <label class="control-label">Nome do Autor:</label>

                        <div class="controls">
                            <span class="input-xlarge">{{ entity.getCoUsuario.getNoUsuario }}</span>
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">CPF:</label>

                        <div class="controls">
                            <span class="input-xlarge">{{ entity.getCoUsuario.getCoCpfUsuario }}</span>
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Passaporte:</label>

                        <div class="controls">
                            {{ entity.getCoUsuario.getNuPassaporte }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Sexo:</label>

                        <div class="controls">
                            {% if (entity.getCoUsuario.getCoSexo ) == 'M' %}
                                Masculino
                            {% else %}
                                Feminino
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">CEP:</label>

                        <div class="controls">
                            {{ entity.getCoUsuario.getNuCep }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Endereço residêncial:</label>

                        <div class="controls">
                            {{ entity.getCoUsuario.getDsLogradouro }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Complemento:</label>

                        <div class="controls">
                            {{ entity.getCoUsuario.getDsLogradouroComplemento }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Bairro / Localidade:</label>

                        <div class="controls">
                            {{ entity.getCoUsuario.getDsBairro }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Estado:</label>

                        <div class="controls">
                            {% if(estadoUser is defined) %}
                                {{ estadoUser }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Município:</label>

                        <div class="controls">
                            {% if(municipioUser is defined) %}
                                {{ municipioUser }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Região:</label>

                        <div class="controls">
                            {% if(regiaoUser is defined) %}
                                {{ regiaoUser }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">E-mail 1 (institucional ou pessoal):</label>

                        <div class="controls">
                            {{ entity.getDsEmailSecundario }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">E-mail 2 (institucional ou pessoal):</label>

                        <div class="controls">
                            {{ entity.getCoUsuario.getDsEmail }}
                        </div>
                    </div>


                    <div class="control-group span9">
                        <label class="control-label">Telefone Particular:</label>

                        <div class="controls">
                            {{ entity.getCoUsuario.getNuDddFone }}{{ entity.getCoUsuario.getNuFone }}
                        </div>
                    </div>


                    <div class="control-group span9">
                        <label class="control-label">Telefone celular:</label>

                        <div class="controls">
                            {{ entity.getCoUsuario.getNuDddCelular }}{{ entity.getCoUsuario.getNuCelular }}
                        </div>
                    </div>

                    <div class="control-group span9 coAutorCheck">
                        <label class="control-label">O trabalho tem co-autor? </label>
                        {% if(entity.getStAutoria) == 'S' %}
                        <div class="controls">Sim</div>
                    </div>
                    <div class="coAutoria">
                        <div class="control-group span9">
                            <div class="controls span8">
                                <table class="table table-bordered ui-widget-content dynamic-table" width="600">
                                    <tbody>
                                    <tr>
                                        <th>Co-Autor</th>
                                        <th>Instituição</th>
                                    </tr>
                                    {% for autor in entity.coAutor %}
                                        {% if(autor.stAtivo == 'S') %}
                                            <tr>
                                                <td>{{ autor.getNoAutor }}
                                                </td>
                                                <td>{{ autor.getNoInstituicao }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        Não
                    {% endif %}

                </fieldset>
            </div>
            <div class="formulario">
                <fieldset>
                    <legend>Identificação da Instituição</legend>

                    <div class="control-group span9">
                        <label class="control-label">Tipo de Instituição</label>

                        <div class="controls">
                            {{ entity.getCoInstituicao.getCoTipoInstituicao.getNoInstituicao }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Nome Completo da Instituição: </label>

                        <div class="controls">
                            {{ entity.getCoInstituicao.getNoInstituicao }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label for="cepUsuario" class="control-label">CEP: </label>

                        <div class="controls ">
                            {{ entity.getCoInstituicao.getNuCep }}
                        </div>
                    </div>
                    <div class="control-group span9">
                        <label class="control-label">Endereço: </label>

                        <div class="controls">
                            {{ entity.getCoInstituicao.getDsEndereco }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Complemento:</label>

                        <div class="controls">
                            {{ entity.getCoInstituicao.getDscomplemento }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Bairro / Localidade: </label>

                        <div class="controls">
                            {{ entity.getCoInstituicao.getNoBairro }}
                        </div>
                    </div>

                    <div class="control-group  span9 divEstado">
                        <label for="DDD" class="control-label">Estado</label>

                        <div class="controls">
                            {% if(entity.getCoInstituicao.getCoMunicipioIbge.getCoUfIbge.getNoUf is defined) %}
                                {{ entity.getCoInstituicao.getCoMunicipioIbge.getCoUfIbge.getNoUf }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label for="DDD" class="control-label">Município</label>

                        <div id="divMunicipio" class="controls">
                            {% if(entity.getCoInstituicao.getCoMunicipioIbge.getNoMunicipio is defined) %}
                                {{ entity.getCoInstituicao.getCoMunicipioIbge.getNoMunicipio }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Região:</label>

                        <div class="controls">
                            {% if (entity.getCoInstituicao.getCoMunicipioIbge and entity.getCoInstituicao.getCoMunicipioIbge.getCoUfIbge) %}
                                {{ entity.getCoInstituicao.getCoMunicipioIbge.getCoUfIbge.getCoRegiao.getNoRegiao }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Telefone: </label>

                        <div class="controls">
                            {{ entity.getCoInstituicao.getNuTelefone }}
                        </div>
                    </div>
                    <div class="control-group span9">
                        <label class="control-label">Fax:</label>

                        <div class="controls">
                            {{ entity.getCoInstituicao.getNuFax }}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="formulario" style="margin-top: 0px;">
                <fieldset>
                    <legend>Área(s) da {{ entity.getCoTema.getCoArea.getCoModalidade.getCoEvento.getNoEvento }}</legend>
                    <div class="control-group  span9">
                        <div class="control-group  span9">
                            <div class="controls span12">
                                <label class="span12">{{ entity.getCoTema.getCoArea.getNoArea }}:</label>
                            </div>
                            <div class="controls" style="float:left;margin-left:-20px; margin-top: -10px;">
                                {#{{ entity.getCoTema.getCoArea.getDsArea }}#}
                                <ul class="control-list">
                                    <li>
                                        {% if (entity.getCoTema.getCoTipoClassificacao.getCoSeqTipoClassificacao) == 1 %}
                                            {{ entity.getCoTema.getNuTema(true) }}) {{ entity.getCoTema.getNoTema }}
                                        {% elseif(entity.getCoTema.getNuTema) %}
                                            {% if(entity.getCoTema.getNuTema == 'M') %}
                                                a.{{ entity.getCoTema.getNoTema }}
                                            {% endif %}
                                            {% if(entity.getCoTema.getNuTema == 'D') %}
                                                b.{{ entity.getCoTema.getNoTema }}
                                            {% endif %}
                                            {% if(entity.getCoTema.getNuTema == 'E') %}
                                                c.{{ entity.getCoTema.getNoTema }}
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            {% if(entity.getCoTema.getCoArea.getCoModalidade.stPossuiOrientador == 'S') %}
                <div class="formulario">
                    <fieldset>
                        <legend>Identificação do Orientador</legend>

                        <div class="control-group  span9">
                            <label class="control-label">Nome Completo do Orientador: <font
                                        color="red"><b>*</b></font></label>

                            <div class="controls">
                                {{ entity.getNoOrientador }}
                            </div>
                        </div>
                        <div class="control-group span9">
                            <label class="control-label">Nome Completo do Co-Orientador:</label>

                            <div class="controls">
                                {{ entity.getNoCoOrientador }}
                            </div>
                        </div>
                    </fieldset>
                </div>
            {% endif %}

            <div class="formulario" style="margin-top: 0px;">
                <fieldset>
                    <legend>Resumo Estruturado</legend>

                    <div class="control-group">
                        <div class="pull-left">
                            {{ entity.getCoTema.getCoArea.getCoModalidade.getCoFormularioDeInscricao.getDsResumo |raw('html') }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Título do Resumo Estruturado: </label>

                        <div class="controls">
                            {{ entity.dsTitulo|raw('html') }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Resumo: </label>

                        <div class="controls">
                            {{ entity.dsResumo|raw('html') }}
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="formulario"  style="margin-top: 0px;">
                <fieldset>
                    <legend>Apresentação</legend>

                    <div class="control-group">
                        <div class="pull-left">
                            {{ entity.getCoTema.getCoArea.getCoModalidade.getCoFormularioDeInscricao.getDsApresentacao |raw('html') }}
                        </div>
                    </div>

                    {% for  inscricaoApresentacao in entity.getCoInscricaoApresentacao %}
                        <div class="control-group span9">
                            <label class="control-label">
                                {{ inscricaoApresentacao.getCoApresentacao.getNoApresentacao }}:
                            </label>

                            <div class="controls">
                                {{ inscricaoApresentacao.getDsApresentacao |raw('html') }}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
            </div>
            <div class="formulario"  style="margin-top: -27px;">
                <fieldset>
                    <legend>Anexos</legend>

                    <div class="control-group">
                        <div class="pull-left">
                            {{ entity.getCoTema.getCoArea.getCoModalidade.getCoFormularioDeInscricao.getDsAnexos |raw('html') }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Anexos:</label>
                    </div>

                    <div class="control-group span9">
                        <div class="controls span8 upload">
                            <table width="600" class="table table-bordered ui-widget-content dynamic-table">
                                <tbody>
                                <tr>
                                    <th>Arquivo</th>
                                </tr>
                                {% for anexo in entity.getCoAnexo %}
                                    {% if(anexo.stAtivo == 'S') %}
                                        <tr>
                                            <td>{{ anexo.getNoArquivo }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="formulario"  style="margin-top: 0px;">
                <fieldset>
                    <legend>Declaração de Veracidade da Informações</legend>

                    <div class="control-group">
                        <div class="pull-left">
                            {{ entity.getCoTema.getCoArea.getCoModalidade.getCoFormularioDeInscricao.getDsDeclaracao |raw('html') }}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Declaração:</label>

                        <div class="controls span6">
                            {% if(entity.getStVeracidade) == 'S' %}
                                Sim, certifico que toda a informação citada é verídica
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Data:</label>

                        <div class="controls">
                            {{ entity.getDtVeracidade|date('d/m/Y') }}
                        </div>
                    </div>

                    <div class="control-group span9">
                        <label class="control-label">Nome Completo do Autor Principal:</label>
                        <div class="controls">
                            {{ entity.getCoUsuario.getNoUsuario }}
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
        <style type="text/css">
            button,input,label,select,textarea{font-size:11px;font-weight:400;line-height:18px}blockquote small:before{display:none!important}.alingLabel{margin-left:0}.control-group blockquote{margin-left:4px}.control-group blockquote p{margin-bottom:5px;margin-top:5px}.control-group{content:"";display:table;margin-bottom:0!important}legend{-moz-border-bottom-colors:none!important;-moz-border-left-colors:none!important;-moz-border-right-colors:none!important;-moz-border-top-colors:none!important;border-color:-moz-use-text-color -moz-use-text-color #e5e5e5!important;border-image:none!important;border-style:none none solid!important;border-width:0 0 1px!important;color:#333!important;display:block!important;font-size:13.5px!important;line-height:18px!important;margin-bottom:6px!important;padding:0!important;width:103%!important}.table td,.table th{border-top:1px solid #ddd!important;font-size:11px!important;line-height:12px!important;padding:4px!important;text-align:left!important;vertical-align:top!important}.box h4{color:#064060!important;display:block!important;font-size:13px!important;margin:0 0 0 10px!important}.box h3{color:#064060!important;display:block!important;font-size:13px!important;margin-bottom:18px!important;margin-top:8px!important}.form-horizontal .control-label{float:left;padding-top:5px;text-align:left;width:175px!important}.alingInsc{float:right!important;left:76%!important;position:absolute!important}.titulo_sistema h1{float:none!important;font-size:12px!important;line-height:18px!important;margin-left:0!important;padding-right:4px!important}.espacamento-bottom20{margin-bottom:20px;margin-left:-10px;margin-top:-10px!important;width:700px}
            .logo{float:left;margin:0;padding-left:0;padding-right:5px;padding-top:5px}.logo img{margin-left:0;margin-top:-5px}.titulo_sistema{width:699px;font-size:11.5px;text-align:justify}.pull-left{float:left}div.controls .aling-content{position:relative;top:5px}.table-bordered td,.table-bordered th{border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd}.table td,.table th{border-top:1px solid #DDD;line-height:18px;padding:8px;text-align:left;vertical-align:top}.box h4{color:#064060;display:block;font-size:15px;margin:0 0 0 10px}.control-group{margin-bottom:9px;content:"";display:table}label{color:#064060!important;border-radius:3px}.controls{color:#666!important;padding-left:0!important;padding-top:5px;line-height:17px}body{background-color:#FFF;color:#333;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;margin:0}.span9{width:690px}.span6{width:460px}p{margin:0 0 9px;color:#666 !important;}ol,ul{list-style:none}.box .tabela table .none_right{border-right:medium none;width:232px}.tabela table .none_bottom{border-bottom:medium none}.tabela table tbody tr.color{background-color:#E8E3E3}.tabela table tbody td{border-bottom:1px solid #064060;border-right:1px solid #064060;color:#064060;float:left;font-size:1.2em;padding:5px 0;text-align:center;width:301px}ul.control-list li{float:inherit;left:15px;margin-bottom:5px;position:relative}.table-bordered caption+tbody tr:first-child td,.table-bordered caption+tbody tr:first-child th,.table-bordered caption+thead tr:first-child th,.table-bordered colgroup+tbody tr:first-child td,.table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+thead tr:first-child th,.table-bordered tbody:first-child tr:first-child td,.table-bordered tbody:first-child tr:first-child th,.table-bordered thead:first-child tr:first-child th{border-top:0 none}.table-bordered tbody:first-child tr:first-child td:first-child,.table-bordered thead:first-child tr:first-child th:first-child{border-top-left-radius:4px}.table-bordered tbody:first-child tr:first-child td:last-child,.table-bordered thead:first-child tr:first-child th:last-child{border-top-right-radius:4px}.table-bordered tbody:last-child tr:last-child td:first-child,.table-bordered thead:last-child tr:last-child th:first-child{border-radius:0 0 0 4px}.table-bordered tbody:last-child tr:last-child td:last-child,.table-bordered thead:last-child tr:last-child th:last-child{border-bottom-right-radius:4px}.table-striped tbody tr:nth-child(2n+1) td,.table-striped tbody tr:nth-child(2n+1) th{background-color:#F9F9F9}.table tbody tr:hover td,.table tbody tr:hover th{background-color:#F5F5F5}
        </style>
    </div>
</div>
</body>
</html>