<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}SISVS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        @page {
            size: A4 portrait;

            @bottom-right {
                content: "{{ "now"|date("d/m/Y   H:i:s") }}";
                font-size: 10pt
            };
        }

        .logo{float:left;margin:0;padding-left:0;padding-right:5px;padding-top:5px}.logo img{margin-left:-17px}.formulario{padding:5px 5px 5px 0;margin-left: -6px;margin-right: 6px; width:99.5%}.titulo_sistema{width:699px;font-size: 11.5px;text-align: justify;}.separetor{float:left;width:100%}.box_header{display:block}.formulario{float:left}.pull-right{margin-right:18px}.pull-left{float:left}div.controls .aling-content{position:relative;top:5px}.table-bordered td,.table-bordered th{border-left:1px solid #DDD}.table td,.table th{border-top:1px solid #DDD;line-height:18px;padding:8px;text-align:left;vertical-align:top}.box_header div.span8 div.logo{margin-left:-20px}.espacamento-bottom20 h3{font-size:10pt}.aling-h3{min-width:80px;float:left}div.controls label.control-label{margin-top:-4px;max-width:99.9%!important;min-width:50%!important;text-align:left}.box h4{color:#064060;display:block;font-size:15px;margin:0 0 0 10px}.espacamento-bottom20{margin-bottom:20px;margin-left:-10px;width:700px}.control-group{margin-bottom:9px;content:"";display:table}header,section{float:left;margin-bottom:20px;width:100%}.form-horizontal .control-label{float:left;padding-top:5px;text-align:right;width:140px}label{color:#064060!important;border-radius:3px;padding:1px 4px 2px}.form-horizontal .control-group:after{clear:both}.controls{color:#666!important;padding-left:0!important;padding-top:5px;text-align:justify;line-height:17px}.uneditable-input,input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{border-radius:3px;box-shadow:0 1px 1px rgba(0,0,0,.075)inset;transition:border .2s linear 0s,box-shadow .2s linear 0s}.controls input,.controls textarea{margin-left:0!important}img{border:0 none;max-width:100%;vertical-align:middle}button,input,select,textarea{font-size:100%;margin:0;vertical-align:middle}button::-moz-focus-inner,input::-moz-focus-inner{border:0 none;padding:0}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer}input[type=search]{box-sizing:content-box}textarea{overflow:auto;vertical-align:top}body{background-color:#FFF;color:#333;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:18px;margin:0}[class*=span]{float:left;}.span12{width:940px}.span11{width:860px}.span10{width:780px}.span9{width:690px}.span8{width:620px}.span7{width:540px}.span6{width:460px}.span5{width:380px}.span4{width:300px}.span3{width:220px}.span2{width:140px}.span1{width:60px}.container{margin-left:auto;margin-right:auto}.container:after,.container:before{content:"";display:table}.container:after{clear:both}p{margin:0 0 9px}h1,h2,h3,h4,h5,h6{color:inherit;font-family:inherit;font-weight:700;margin:0;text-rendering:optimizelegibility}h1{font-size:30px;line-height:36px}h2{font-size:24px;line-height:36px}h3{font-size:18px;line-height:27px}h4,h5,h6{line-height:18px}h4{font-size:14px}h5{font-size:12px}h6{color:#999;font-size:11px;text-transform:uppercase}.page-header{border-bottom:1px solid #EEE;margin:18px 0;padding-bottom:17px}.page-header h1{line-height:1}ol,ul{margin:0 0 9px 25px;padding:0}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}ol,ul{list-style:none}li{line-height:18px}form{margin:0 0 18px}fieldset{border:0 none;margin:0;padding:0}legend{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:-moz-use-text-color -moz-use-text-color #E5E5E5;border-image:none;border-style:none none solid;border-width:0 0 1px;color:#333;display:block;font-size:19.5px;line-height:36px;margin-bottom:27px;padding:0;width:103%}legend small{color:#999;font-size:13px}button,input,label,select,textarea{font-size:13px;font-weight:400;line-height:18px}button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}label{display:block;margin-bottom:5px}.uneditable-input,input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select,textarea{color:#555;display:inline-block;font-size:13px;height:18px;line-height:18px;margin-bottom:9px;padding:4px}input,textarea{width:210px}textarea{height:auto}.uneditable-input,input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{border:none;background:0 0}select{border:1px solid #BBB;width:220px}.box{float:left;width:100%}.box strong.title{border-bottom:2px solid #064060;color:#064060;display:block;font-size:2em;margin:10px 0;padding-bottom:5px}.box h3{color:#064060;display:block;font-size:15px;margin-bottom:20px}.box .formulario,.box .tabelaImpri{border-radius:8px;float:left;margin-bottom:10px;width:100%}.box .formulario fieldset,.box .formulario form{margin:0;padding:15px 15px 0;}.box .formulario form ul{margin:0}.box .formulario form ul li{float:left;margin-bottom:8px;margin-right:2px}.box .formulario form ul li strong{color:#064060;cursor:pointer;display:block;font-size:1.4em}.box .formulario form ul li label{color:#064060!important;cursor:pointer;display:block;font-size:1.2em}.box .formulario form ul li input{margin:0;width:350px}.box .formulario form ul li input.menor{margin:0;width:333px}.box .formulario form ul li select{margin:0;width:360px}.box .formulario .botao.no-margin-left{padding:0}.margim{margin-left:10px;margin-right:10px}.box .tabela{padding:15px}.box .tabela strong{font-size:1.4em;margin-right:30px}.box .tabela strong.title{font-size:2em;margin-right:0}.box .tabela strong.rigth{float:right;margin-right:0}.box .tabela table{border:1px solid #064060;float:left;margin-top:15px;width:100%}.box .tabela table thead{background-color:#D1D1D1}.box .tabela table tbody,.box .tabela table thead,.box .tabela table thead tr{float:left;width:100%}.box .tabela table thead th{border-bottom:1px solid #064060;border-right:1px solid #064060;color:#064060;float:left;font-size:1.2em;padding:5px 0;width:301px}.box .tabela table .none_right{border-right:medium none;width:232px}.box .tabela table .none_bottom{border-bottom:medium none}.box .tabela table tbody tr.color{background-color:#E8E3E3}.box .tabela table tbody td{border-bottom:1px solid #064060;border-right:1px solid #064060;color:#064060;float:left;font-size:1.2em;padding:5px 0;text-align:center;width:301px}.box .tabelaNormal{padding:15px}.box .tabelaNormal strong{font-size:1.4em;margin-right:30px}.box .tabelaNormal strong.title{font-size:2em;margin-right:0}.box .tabelaNormal strong.rigth{float:right;margin-right:0}.box .tabelaNormal table{border:1px solid #064060;float:left;margin-top:15px;width:100%}.box .tabelaNormal table thead{background-color:#D1D1D1}.box .tabelaNormal table tbody,.box .tabelaNormal table thead,.box .tabelaNormal table thead tr{float:left;width:100%}.box .tabelaNormal table thead th{border-bottom:1px solid #064060;border-right:1px solid #064060;color:#064060;float:left;font-size:1.2em;padding:5px 0;width:283px}.box .tabelaNormal table .none_right{border-right:medium none;width:286px}.box .tabelaNormal table .none_bottom{border-bottom:medium none}.box .tabelaNormal table tbody tr.color{background-color:#E8E3E3}.box .tabelaNormal table tbody td{border-bottom:1px solid #064060;border-right:1px solid #064060;color:#064060;float:left;font-size:1.2em;padding:5px 0;text-align:center;width:283px}.box .tabelaNormal table tbody td img.b{display:none}.box .formulario .box_form{border-bottom:2px dotted #436274;float:left;margin-bottom:20px;padding-bottom:20px;width:100%}input.padding_left{padding-left:22px}.select{clear:both;float:left;padding:10px 15px}.select .custom-header{color:#064060;cursor:pointer;display:block;font-size:1.2em;padding:4px}.padding{padding:15px}.padding img{margin-bottom:15px}div.controls label.label-left{text-align:left}a:focus{outline:medium none}.box .formulario form ul.control-list li{float:inherit;left:15px;margin-bottom:5px;position:relative}.box .formulario form ul.control-list li input[type=radio]{padding:1px;width:auto}.margin-left-20{margin-left:20px!important}.box fieldset legend{margin-top:10px}.controls>.checkbox:first-child,.controls>.radio:first-child{padding-top:25px}.checkbox input[type=checkbox],.radio input[type=radio]{float:left;margin-left:-18px}.checkbox,.radio{min-height:20px;padding-left:20px}.aling-table{text-align:center!important}.checkbox.inline,.radio.inline{display:inline-block;margin-bottom:0;padding-top:5px;vertical-align:middle}.row-fluid .uneditable-input[class*=span],.row-fluid input[class*=span],.row-fluid select[class*=span],.row-fluid textarea[class*=span],.uneditable-input[class*=span],input[class*=span],select[class*=span],textarea[class*=span]{float:none;margin-left:0}.input-append .uneditable-input[class*=span],.input-append input[class*=span],.input-prepend .uneditable-input[class*=span],.input-prepend input[class*=span],.row-fluid .input-append [class*=span],.row-fluid .input-prepend [class*=span]{display:inline-block}.uneditable-input,input,textarea{margin-left:0}.uneditable-input.span12,input.span12,textarea.span12{width:930px}.uneditable-input.span11,input.span11,textarea.span11{width:850px}.uneditable-input.span10,input.span10,textarea.span10{width:770px}.uneditable-input.span9,input.span9,textarea.span9{width:690px}.uneditable-input.span8,input.span8,textarea.span8{width:610px}.uneditable-input.span7,input.span7,textarea.span7{width:530px}.uneditable-input.span6,input.span6,textarea.span6{width:450px}.uneditable-input.span5,input.span5,textarea.span5{width:370px}.uneditable-input.span4,input.span4,textarea.span4{width:290px}.uneditable-input.span3,input.span3,textarea.span3{width:210px}.uneditable-input.span2,input.span2,textarea.span2{width:130px}.uneditable-input.span1,input.span1,textarea.span1{width:50px}input[disabled],input[readonly],select[disabled],select[readonly],textarea[disabled],textarea[readonly]{color:#000;border:none;background:0 0;z-index:99999}input[type=checkbox][disabled],input[type=checkbox][readonly],input[type=radio][disabled],input[type=radio][readonly]{background-color:rgba(0,0,0,0)}.control-group.warning .help-block,.control-group.warning .help-inline,.control-group.warning>label{color:#C09853}.table-bordered caption+tbody tr:first-child td,.table-bordered caption+tbody tr:first-child th,.table-bordered caption+thead tr:first-child th,.table-bordered colgroup+tbody tr:first-child td,.table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+thead tr:first-child th,.table-bordered tbody:first-child tr:first-child td,.table-bordered tbody:first-child tr:first-child th,.table-bordered thead:first-child tr:first-child th{border-top:0 none}.table-bordered tbody:first-child tr:first-child td:first-child,.table-bordered thead:first-child tr:first-child th:first-child{border-top-left-radius:4px}.table-bordered tbody:first-child tr:first-child td:last-child,.table-bordered thead:first-child tr:first-child th:last-child{border-top-right-radius:4px}.table-bordered tbody:last-child tr:last-child td:first-child,.table-bordered thead:last-child tr:last-child th:first-child{border-radius:0 0 0 4px}.table-bordered tbody:last-child tr:last-child td:last-child,.table-bordered thead:last-child tr:last-child th:last-child{border-bottom-right-radius:4px}.table-striped tbody tr:nth-child(2n+1) td,.table-striped tbody tr:nth-child(2n+1) th{background-color:#F9F9F9}.table tbody tr:hover td,.table tbody tr:hover th{background-color:#F5F5F5}table .span1{float:none;margin-left:0;width:44px}table .span2{float:none;margin-left:0;width:124px}table .span3{float:none;margin-left:0;width:204px}table .span4{float:none;margin-left:0;width:284px}table .span5{float:none;margin-left:0;width:364px}table .span6{float:none;margin-left:0;width:444px}table .span7{float:none;margin-left:0;width:524px}table .span8{float:none;margin-left:0;width:604px}table .span9{float:none;margin-left:0;width:684px}table .span10{float:none;margin-left:0;width:764px}table .span11{float:none;margin-left:0;width:844px}table .span12{float:none;margin-left:0;width:924px}table .span13{float:none;margin-left:0;width:1004px}table .span14{float:none;margin-left:0;width:1084px}table .span15{float:none;margin-left:0;width:1164px}table .span16{float:none;margin-left:0;width:1244px}table .span17{float:none;margin-left:0;width:1324px}table .span18{float:none;margin-left:0;width:1404px}table .span19{float:none;margin-left:0;width:1484px}table .span20{float:none;margin-left:0;width:1564px}table .span21{float:none;margin-left:0;width:1644px}table .span22{float:none;margin-left:0;width:1724px}table .span23{float:none;margin-left:0;width:1804px}table .span24{float:none;margin-left:0;width:1884px}.form-horizontal .help-inline,.form-horizontal .input-append,.form-horizontal .input-prepend,.form-horizontal .uneditable-input,.form-horizontal input,.form-horizontal select,.form-horizontal textarea,.form-inline .help-inline,.form-inline .input-append,.form-inline .input-prepend,.form-inline .uneditable-input,.form-inline input,.form-inline select,.form-inline textarea,.form-search .help-inline,.form-search .input-append,.form-search .input-prepend,.form-search .uneditable-input,.form-search input,.form-search select,.form-search textarea{display:inline-block;margin-bottom:0}.control-group label font{display:none}.box .formulario form ul.ajustRadio{position:relative;top:-25px}.box .formulario form ul.ajustRadio li input{width:0!important}.box .formulario form ul.ajustRadio li{margin-left:165px!important}.box .formulario form ul.control-list{clear:both;margin:15px 0 0 135px;text-align:justify}.alingInsc{float: right !important;  left: 64%;position: absolute;}.alingInsc h6{color: #064060 !important;}.titulo_sistema h1{float: left;font-size: 12px;line-height: 18px;margin-left: 0;padding-right: 4px;}.input-xlarge {width: 270px;}.ui-widget-content {border: 1px solid #aaaaaa;background: #ffffff;color: #222222;}.coAutoria{margin-top: 10px;}
    </style>

</head>
<body>
<div class="box span9">
    <div class="box_header">
        {% block header %}
            {% set header =  null | headerPdf %}
            <div class="span9">
                <div class="logo span2">
                    <img src="{{ header['noLogotipo'] }}" class="img-circle " width="200"/>
                </div>
                <div class="titulo_sistema">
                    <h1>{{ header['noEvento'] }}</h1> - MOSTRA NACIONAL DE EXPERIÊNCIAS BEM SUCEDIDAS EM EPIDEMIOLOGIA, PREVENÇÃO E CONTROLE DE DOENÇAS. MINISTÉRIO DA SAÚDE / SECRETÁRIA DE VIGILÂNCIA EM SAÚDE.
                </div>
                <hr class="separetor"/>
            </div>
        {% endblock %}
    </div>
    <div class="formulario form-horizontal">
        <div class="box">
            <h2 class="title">Relátorio de Inscrição</h2>

            <div class="formulario">
                <form method="get" id="form-apresentacao" class="span11">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Evento</th>
                            <th>Ano</th>
                            <th>Modalidade</th>
                            {% for column, value in columns %}
                                {% if(column == 'coSeqArea' and value) %}
                                    <th>Área</th>
                                {% elseif(column == 'coSeqTema' and value) %}
                                    <th>Tema / Categoria</th>
                                {% elseif(column == 'coRegiao' and value) %}
                                    <th>Região</th>
                                {% elseif(column == 'coUfIbge' and value) %}
                                    <th>Estado</th>
                                {% elseif(column == 'coMunicipioIbge' and value) %}
                                    <th>Município</th>
                                {% elseif(column == 'coSexo' and value) %}
                                    <th>Sexo</th>
                                {% elseif(column == 'coSituacao' and value) %}
                                    <th>Situação</th>
                                {% elseif(column == 'inInstituicao' and value) %}
                                    <th>Instituição</th>
                                {% elseif(column == 'coSeqInstituicao' and value) %}
                                    <th>Tipo de Instituição</th>
                                {% elseif(column == 'InInforDuplicadas' and value) %}
                                    <th>Duplicadatas</th>
                                {% endif %}
                            {% endfor %}
                            <th>Quantidade</th>
                            <th>Percentual</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in data %}
                            <tr>
                                <td>{{ result.noEvento }}</td>
                                <td>{{ result.anEvento }}</td>
                                <td>{{ result.noModalidade }}</td>
                                {% for column, value in columns %}
                                    {% if(column == 'coSeqArea' and value) %}
                                        <td>{{ result.noArea }}</td>
                                    {% elseif(column == 'coSeqTema' and value) %}
                                        <td>{{ result.noTema }}</td>
                                    {% elseif(column == 'coRegiao' and value) %}
                                        <td>{{ result.noRegiao }}</td>
                                    {% elseif(column == 'coUfIbge' and value) %}
                                        <td>{{ result.noUf }}</td>
                                    {% elseif(column == 'coMunicipioIbge' and value) %}
                                        <td>{{ result.noMunicipio }}</td>
                                    {% elseif(column == 'coSexo' and value) %}
                                        <td>{{ result.coSexo }}</td>
                                    {% elseif(column == 'coSituacao' and value) %}
                                        <td>{{ result.dsSituacao }}</td>
                                    {% elseif(column == 'inInstituicao' and value) %}
                                        <td>{{ result.noInstituicao }}</td>
                                    {% elseif(column == 'coSeqInstituicao' and value) %}
                                        <td>{{ result.noTipoInstituicao }}</td>
                                    {% elseif(column == 'InInforDuplicadas' and value) %}
                                        <td>{{ result.duplicata }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>{{ result.quantidade }}</td>
                                <td>{{ result.porcentagem }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>